<!DOCTYPE html>
<html lang="UK">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>JavaScript</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
      integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/style.css">
  </head>

  <body>
  <!-- addEventListener -->
    <!-- <div class="counter">
      <button class="js-decrement btn">Уменьшить</button>
      <p class="js-value">0</p>
      <button class="js-increment btn">Увеличиьт</button>
    </div> -->


    <!-- querySelector -->
    <!-- <main id="main" style="display: none;">
      <p><a href="/JavaScript.html">На главную</a></p>
      <button type="button" class="magic-btm js-gamic-gtm">
          Сделать магию
          <span class="icon">🧙</span>
      </button>
      <ul class="sit-nav">
          <li class="sit-nav__item">
              <a href="" class="sit-nav__link">О нас</a>
          </li>
          <li class="sit-nav__item">
              <a href="" class="sit-nav__link">Портфолио</a>
          </li>
          <li class="sit-nav__item">
              <a href="" class="sit-nav__link">Контакты</a>
          </li>
      </ul>
    </main> -->

    <!-- Export default -->
    <div class="js-products"></div>

    <!-- =========================================================================== -->
    <script src="../js/materials/metod.js"></script>
    <script src="../js/materials/autocheck.js"></script>
    <script src="../js/dom.js"></script>

    <!-- <script src="./js/Shop-card.js"></script> -->
    <!-- <script src="./js/Bank-account.js"></script> -->
    <!-- <script src="./js/callback-filtr-fn.js"></script> -->

    <!-- <script src="./js/checksGoIT.js"></script> -->
    <!-- <script src="./js/codewars.js"></script> -->
    <!-- <script src="./js/lodash.js"></script> -->

    <!-- <script src="./js/test.js"></script> -->


        <!-- БИБЛИОТЕКА -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script> -->
  
    
    <!-- BACKEND -->
    <!-- <script src="./js/dom.js" type="module"></script> -->
  </body>
</html>
